body{

 background: no-repeat linear-gradient( to bottom, #FECCCD, #999999); /* For Safari 5.1 to 6.0 */
 height: 100vh;
 min-height: 100%;
  position: relative;
  margin: 0;
/*  padding-bottom: 6rem;*/

}

.holder{
	margin-left:-235px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #808080;
}
/*.panelHold{
	/*border-style: solid;
	border-color: gray;
	margin: 0 auto;
	height: 540px;
	max-width: 350px; 
	padding: 10px;
}*/


.Allbtn{
	/*margin-left: -10px;*/
	margin-top:5px;
	font-size: 20px;
	height: 110px;
	width: 330px;
	font-family: Segoe UI;
	color: white;
	background-color: #434343;
	box-shadow: none;
	border-radius: 25px;
	cursor: pointer;
}


