
.container-fluid{
	text-align: center;
	
}
.row{
	height: 100%;
}
.col-xs-12{
	margin: 0 auto;
	
}
.col-xs-6{
	background-color: #EFEFEF;
	padding: 30px;
/*	margin: 0 auto;*/
}
h2{
	font-family: Segoe UI;
}


.btn{
	margin-left:15px;
	width: 100px;
	font-family: Segoe UI;
	color: white;
	background-color: #999999;
	box-shadow: 3px 3px grey;
	cursor: pointer;
}

.btn1{
	color: white;
	background-color: #FECCCD;
	width: 100px;
	height: 40px;
	font-size: 15px;
	box-shadow: 3px 3px 3px grey;
	border-radius: 10%;
	cursor: pointer;
}

.footer {

   left: 0;
   bottom: 0;
   width: 100%;
   background-color: none;
   text-align: center;
   padding-top: 60px;
   position: fixed;
}
